{% extends "base.html.twig" %}

{% block title %}
	Mentions légales - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="text_article">
		<h2>Mentions légales</h2><br/>
		<span>
		<strong>Club d'Aviron Saintais</strong><br/>
		6 Rue de Courbiac<br/>
		17100 Saintes<br/>
		France<br/>
		Téléphone : 05 46 74 01 66
		</span><br/><br/>
		<span>
		Le site www.aviron-saintais.fr est hébergé chez OVH.<br/>
		2 rue Kellermann<br/>
		59100 Roubaix<br/>
		France
		</span>
	</div>
{% endblock %}